@font-face {
    font-family: 'jackedup';
    src: url('fonts/jackedup/jackedup.eot');
    src: url('fonts/jackedup/jackedup.eot?#iefix') format('embedded-opentype'),
        url('fonts/jackedup/jackedup.woff2') format('woff2'),
        url('fonts/jackedup/jackedup.woff') format('woff'),
        url('fonts/jackedup/jackedup.ttf') format('truetype'),
        url('fonts/jackedup/jackedup.svg#jackedup') format('svg');
    font-weight: normal;
    font-style: normal;
}

