.quick-links {
  background-color: $dark_brown;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 3px 16px 2px $green;
  border-top: 1px solid $yellow;
  border-bottom: 1px solid $yellow;
  display: flex;

  .link {
    color: $green;
    text-align: center;

    &:hover {
      color: white;
    }
  }

  .label {
    font-family: 'Just Skinny';
    font-weight: bolder;
    font-size: 16px;

    @media only screen and (min-width: 600px) {
      font-size: 20px;
    }
  }

  .image {
    font-size: 24px;
    font-weight: 300;
    margin: 4px;
    min-width: 30px;
    text-align: center;
    padding-top: 6px;
    border: 2px solid $green;
    border-radius: $border_radius;
    color: $green;

    &:hover {
      border-color: white;
      color: white;
    }

    @media only screen and (min-width: 600px) {
      font-size: 32px;
      min-width: 48px;
    }
  }

}