@font-face {
    font-family: 'Just Skinny';
    src: url('fonts/justskinny/JustSkinny.eot');
    src: url('fonts/justskinny/JustSkinny.eot?#iefix') format('embedded-opentype'),
        url('fonts/justskinny/JustSkinny.woff2') format('woff2'),
        url('fonts/justskinny/JustSkinny.woff') format('woff'),
        url('fonts/justskinny/JustSkinny.ttf') format('truetype'),
        url('fonts/justskinny/JustSkinny.svg#JustSkinny') format('svg');
    font-weight: normal;
    font-style: normal;
}

