.info-page {
  
  .embedded-map {
    display: none;

    @media only screen and (min-width: 600px) {
      display: block;
    }
  }

  .fish-box {
    text-align: center;

    .pic {
      width: 48px;
      height: 48px;
      margin: auto;
      background-size: contain;

      @media only screen and (min-width: 600px) {
        width: 64px;
        height: 64px;
      }
    }
  }
}