.food {
 
  .groceries {
    height: 100px;
    width: 75%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
  } 

  .info-list {
    top: 270px !important;
  }
}