.house {
  background-image: url('assets/house.jpg');
}

.pendoreille {
  background-image: url('assets/pendoreille.jpg');
}

.placeholder {
  background-image: url('assets/placeholder.png');
}

.minnow {
  background-image: url('assets/minnow.jpg');
}

.superone {
  background-image: url('assets/superone.jpg');
}

.winterridge {
  background-image: url('assets/winterridge.jpg');
}

.yokes {
  background-image: url('assets/yokes.jpg');
}

.panhandle {
  background-image: url('assets/panhandle.jpg');
}

.mickduffs {
  background-image: url('assets/mickduffs.jpg');
}

.secondavenue {
  background-image: url('assets/2ndavenue.jpg');
}

.joeandroll {
  background-image: url('assets/joeandroll.jpg');
}