.house {
  background-image: url('assets/house.jpg');
}

.pendoreille {
  background-image: url('assets/pendoreille.jpg');
}

.placeholder {
  background-image: url('assets/placeholder.png');
}

.minnow {
  background-image: url('assets/minnow.jpg');
}

.superone {
  background-image: url('assets/superone.jpg');
}

.winterridge {
  background-image: url('assets/winterridge.jpg');
}

.yokes {
  background-image: url('assets/yokes.jpg');
}

.panhandle {
  background-image: url('assets/panhandle.jpg');
}

.mickduffs {
  background-image: url('assets/mickduffs.jpg');
}

.secondavenue {
  background-image: url('assets/2ndavenue.jpg');
}

.joeandroll {
  background-image: url('assets/joeandroll.jpg');
}

.grill {
  background-image: url('assets/grill.jpg');
}

.autop-1 {
  background-image: url('assets/autop-1.jpg');
}

.autop-2 {
  background-image: url('assets/autop-2.jpg');
}

.autop-3 {
  background-image: url('assets/autop-3.jpg');
}

.autop-4 {
  background-image: url('assets/autop-4.jpg');
}

.router {
  background-image: url('assets/router.jpg');
}

.modem {
  background-image: url('assets/modem.jpg');
}

.rokucable {
  background-image: url('assets/rokucable.jpg');
}

.sony-cable {
  background-image: url('assets/sony-cable.jpg');
}

.map {
  background-image: url('assets/map.jpg');
}