.welcome {

  .center {
    font-family: 'Just Skinny';
    font-weight: bolder;
    font-size: 18px;
  }

  .house-pic {
    position: relative;
    width: 80%;
    height: 150px;
    text-align: center;
    margin: auto;
  }
}