.whereis {
  .key {
    font-family: 'Just Skinny';
    font-size: 18px;
    font-weight: bolder;

    @media only screen and (min-width: 600px) {
      font-size: 24px;
      width: 140px;
    }
  }

  .info-list {
    top: 180px !important;
  }
}