$brown: #786758;
$dark_brown: #4f433a;
$font_color: white;
$yellow: #C1AE7C;
$gray: #D3D4D9;
$green: #929487;

$border_radius: 6px;

@import 'fonts/fonts';

body {
  font-family: 'Helvetica';
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  background-color: $brown;
  color: $gray;
}

a {
  color: white;

  &:hover {
    color: $yellow;
  }
}

p {
  margin-top: 4px;
}

.icon {
  font-family: 'doverbay';
  color: $yellow;
}

.center {
  text-align: center;
}

.content {
  padding: 12px;

  &:after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 1px solid $yellow;
  }
}

.flex {
  display: flex;
}

.title {
  font-size: 24px;
  font-weight: bolder;
  font-family: 'Just Skinny';
}

@import 'styles/banner';
@import 'styles/footer';
@import 'styles/welcome';
@import 'styles/activities';
@import 'styles/food';
@import 'styles/linkmenu';
@import 'styles/images';
@import 'styles/info-pages';
@import 'styles/whereis';

@import 'styles/widgets/image-scroller';
@import 'styles/widgets/topic-links';
@import 'styles/widgets/quick-links';
@import 'styles/widgets/topic';